

::after, ::before{
    box-sizing: border-box;
}

body{
    background-color: rgb(8, 8, 119);
    text-align: center;
    
    
}

h1{
    color: rgb(226, 191, 19);
    
    
}
h2{
    color: rgb(226, 191, 19);
    font-size:20px;
    line-height: 20px;
    float: left;
    padding: 30px 20px 5px 150px;
    display: inline;
}
h3{
    color: rgb(226, 191, 19);
    font-size:20px;
    line-height: 20px;
    float: right;
    padding: 30px 150px 5px 0px;
    display: inline;
}
h4{
    color: rgb(226, 191, 19);
    font-size: 25px;
}



.board{  
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(7,auto);
    margin-left: 190px;
    width: 650px;
    height: 600px;
    background: rgb(29, 98, 235);
    border: 5px solid rgb(226, 191, 19);
    padding: 2rem;
} 

.slot{
    width: 90px;
    height: 90px;
    background: white;
    border: 2px solid rgb(8, 8, 119);
    border-radius: 50px;

}

.button{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    right: 50%;
}