
body{
    background-color: rgb(8, 8, 119);
    
}

h1{
    color: rgb(226, 191, 19);
    text-align:center ;
    
    
    
}
h2{
    color: rgb(226, 191, 19);
    font-size: 25px;
    text-align: center;
}
h3{
    color: rgb(226, 191, 19);
    font-size: 25px;
    text-align: center;

}
ul{
    color: rgb(226, 191, 19);
    font-weight: bold;
    font-size: large;
    width: 30rem;
    position: absolute;
    top: 18%;
}
.objective{
    color: rgb(226, 191, 19);
    font-weight: bold;
    width: 30rem;
    position: absolute;
    top: 10%;
}

.board{  
    display: grid;
    position: relative;
    left: 22%;
    top: 17%;
    grid-template-columns: repeat(7,auto);
    margin-left: 190px;
    width: 650px;
    height: 600px;
    background: rgb(29, 98, 235);
    border: 5px solid rgb(226, 191, 19);
    padding: 2rem;
} 

.spot{
    width: 90px;
    height: 90px;
    background: white;
    border: 2px solid rgb(8, 8, 119);
    border-radius: 50px;

}

.button{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(0, -50%);
}
#coinFlip{
    position: absolute;
    font-size: 20px;
    color: rgb(29, 98, 235);
    background-color:silver;
    width: 120px;
    height: 120px;
    border-radius: 90px;
    right: 10%;
    top: 18%;
    border:3px solid silver;
}
#coinResult{
    position: absolute;
    color:rgb(226, 191, 19);
    font-size: larger;
    font-weight: bold;
    width: 170px;
    height: 170px;
    right: 7%;
    top: 31%;
}

.red-player{
    width: 90px;
    height: 90px;
    background-color: red;
    border: 2px solid rgb(8, 8, 119);
    border-radius: 50px;
}


.blue-player{
    width: 90px;
    height: 90px;
    background-color:rgb(8, 62, 223);
    border: 2px solid rgb(9, 9, 115);
    border-radius: 50px;
}


#restart:hover{
    background-color: darkgrey;
}
#coinFlip:hover{
    background-color: darkgrey;
}